<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"
      rel="stylesheet"
    />
    
     <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    
    <title>UTS Big Antivirus</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    
  <div class="container">
      <div id="background-container"></div>
      <div id="app">
        <button onclick="progress()" id="advance">
          ➜
        </button>

     <div class="card">
      <div class="wrapper">
          <div class="newsclass" id = "cryingbecauseitssolate">
              <% articles.forEach(function(article, index) { %> 
                  <a href="<%-article.url%>" target="_blank" class="news-card" >
                      <img src="<%- article.urlToImage %>" alt="<%- article.title %>" style="width:100%">
                      <div class="container">
                          <h4><%- article.title %></h4>
                          <p><%- article.description %> </p>

                      </div>
                  </a>
              <% }) %> 
          </div>
      </div>

      <center>
      <h1 id="title">UTS NEWS</h1>
      <h4 id="dontshowtext">Please don't show me:</h4>
        <div id="buttoncloud">
          <span>
            <button class="cloudbutton" id="1" onclick="addToList(this.id)">COVID-19</button>
            <button class="cloudbutton" id="2" onclick="addToList(this.id)">Barista</button>
          </span>
            <br />
            <span>
              <button class="cloudbutton" id="3" onclick="addToList(this.id)">COVID-19</button>
              <button class="cloudbutton" id="4" onclick="addToList(this.id)">US Politics</button>
              <button class="cloudbutton" id="5" onclick="addToList(this.id)">Weather</button>
            </span>
            <br />
            <span>
              <button class="cloudbutton" id="6" onclick="addToList(this.id)">University</button>
              <button class="cloudbutton" id="7" onclick="addToList(this.id)">Abortion</button>
              <button class="cloudbutton" id="8" onclick="addToList(this.id)">Crime</button>
              <button class="cloudbutton" id="9" onclick="addToList(this.id)">Religion</button>
            </span>
            <br />
            <span>
              <button class="cloudbutton" id="10" onclick="addToList(this.id)">Science</button>
              <button class="cloudbutton" id="11" onclick="addToList(this.id)">Barista</button>
              <button class="cloudbutton" id="12" onclick="addToList(this.id)">Surgery</button>
              <button class="cloudbutton" id="13" onclick="addToList(this.id)">Death</button>
            </span>
            <br />
            <span>
              <button class="cloudbutton" id="14" onclick="addToList(this.id)">School</button>
              <button class="cloudbutton" id="15" onclick="addToList(this.id)">Poetry</button>
              <button class="cloudbutton" id="16" onclick="addToList(this.id)">BRM</button>
            </span>
            <br />
            <span>
              <button class="cloudbutton" id="17" onclick="addToList(this.id)">Cats</button>
              <button class="cloudbutton" id="18" onclick="addToList(this.id)">Heights</button>
            </span>
          </div>
        <div id = "searchbox">
          <header>   
            <form action="/results" method="POST">
                <input type="text" name="search" placeholder="Search for news" required>
                <input type="submit">
            </form>
          </header>
        </div>

        
        </center>
      </div>
    </div>
  </div>
    
    
    
    
  
    
    <script src="/script.js"></script>
  </body>
</html>
