<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"
      rel="stylesheet"
    />
    
     <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    
    <title>UTS Big Antivirus</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    
  <div class="container">
      <div id="background-container"></div>
      <div id="app">
        <button id="advance" name="new" type="submit" formmethod="get" formaction="/next">
          <a href="/next">➜</a>
        </button>
     
     <div class="card">
       <h1 id="title">UTS NEWS</h1>
        <div class="wrapper">
          <div class="newsclass1">
              <% articles.forEach(function(article, index) { %> 
                  <a href="<%-article.url%>" target="_blank" class="news-card" >
                      <img src="<%- article.urlToImage %>" alt="<%- article.title %>" style="width:100%">
                      <div class="news-container">
                          <h4><%- article.title %></h4>
                          <p><%- article.description %> </p>

                      </div>
                  </a>
              <% }) %> 
          </div>
        </div>
      <center>
     
        <div id = "searchbox">
          <h4 id="dontshowtext">Alternatively, </h4>
          <header>   
            <form action="/results" method="POST">
                <input type="text" name="search" placeholder="Search for news" required>
                <input type="submit">
            </form>
          </header>
        </div>

        
        </center>
      </div>
        
        
    </div>
  </div>
    
  </body>
</html>
